.DS_Store
node_modules

# Build directory
build

# TypeDoc website
typedoc

# Log files
yarn-debug.log*
yarn-error.log*

# Jest's test coverage files
coverage

# Environment variables
*.env

# Editor directories and files
.idea
*.iml
.vscode
